* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  background: #17181a;
  color: white;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__header {
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 90%;
    margin: auto;
    padding: 2rem 0rem;

    #app__logo {
      font-family: "Abril Fatface";
      text-decoration: none;
      color: white;
      font-size: 3rem;
    }

    .app__burgerMenu {
      cursor: pointer;
    }
  }
  &__burgerMenu {
    &--line1,
    &--line2,
    &--line3 {
      width: 3rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: white;
      pointer-events: none;
    }
  }

  &__slide {
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slideshow {
    .reveal-image,
    .reveal-text {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #17181a;
      left: 0;
      top: 0;
    }

    &--heroDescription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-direction: 1;
      flex-basis: 40rem;
      padding-left: 5rem;
      position: relative;
      font-size: 0.9rem;
      h2 {
        font-family: "Abril Fatface", "Segoe UI", Tahoma, Geneva, Verdana,
          sans-serif;
        font-size: 5rem;
      }
      p {
        padding: 3rem 0rem;
        color: #eeeaea;
      }
    }
    &--heroImage {
      position: relative;
      flex: 1;
      flex-basis: 25rem;
    }
    .mountain-span {
      color: #ff8b5d;
    }
    .hike-span {
      color: rgb(86, 124, 228);
    }
    .fashion-span {
      color: rgb(167, 110, 231);
    }
    .explore-btn {
      padding: 1rem 2rem;
      background: none;
      border: none;
      border: 1px solid white;
      align-self: flex-start;
      cursor: pointer;
    }
  }

  &__navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: #17181a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 1;
    clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);

    &--links {
      font-size: 3rem;
      flex-basis: 30rem;
      // font-weight: 400;
      h3 {
        padding: 3rem 0rem;
      }
    }
    &--contact {
      flex-basis: 30rem;
      h2 {
        font-size: 3rem;
        padding: 2rem 0rem;
      }
      p {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }

  &__cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
  }
}
