* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  background: #17181a;
  color: white;

  img {
    height: 30rem;
    width: 40rem;
    object-fit: cover;
  }

  &__header {
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;

    #app__logo {
      font-family: "Abril Fatface";
      text-decoration: none;
      color: white;
    }
  }
  &__burgerMenu {
    &--line1,
    &--line2,
    &--line3 {
      width: 3rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: white;
      pointer-events: none;
    }
  }

  &__slide {
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slideshow--heroDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: 1;
    // flex-basis: 25rem;
    padding-left: 5rem;
    position: relative;
  }
}
